* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

.container {
  height: 100%;
  width: 100%;
}

body { overflow-x: hidden; }

:root {
  --primary-enabled: #10B981; 
  --primary-hover: #6EE7B7;
  --primary-pressed: #059669;
  --white: #FFF;
}  

h1, h2, h3, p, a, input, .body, .subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #374151;
}

h1 { font-size: 36px; line-height: 40px; font-weight: 600;}
h2 { font-size: 24px; }
h3 { font-size: 20px; line-height: 32px;}
p, .body { font-size: 16px; line-height: 26px; }
.subtitle { font-size: 14px; line-height: 22px;}
.caption { font-size: 12px; }

li { 
  list-style: none;
  background-color: transparent;
}

.medium { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }

.overline {
  font-size: 10px;
  text-transform: uppercase;
}

span { background-color: transparent; }

a {
  font-size: 14px;
  padding: 10px 24px 8px 24px;
  text-decoration: none;
  line-height: 22px;
  background-color: transparent;
}

a:hover {
  color: var(--primary-enabled);
  font-size: 14px;
  padding: 10px 24px 8px 24px;
  text-decoration: none;
  line-height: 22px;
  background-color: transparent;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: none;
}

.primary-btn {
  background: var(--primary-enabled);
  color: var(--white);
  border-radius: 10px;
}

.primary-btn:hover {
  background: var(--primary-hover);
  color: var(--white);
  border-radius: 10px;
}

.primary-btn.active {
  background: var(--primary-pressed);
  border-radius: 10px;
}

.secondary-btn {
  border: 1px solid var(--primary-enabled);
  color: var(--primary-enabled);
  background-color: transparent;
  border-radius: 10px;
}

.secondary-btn:hover {
  border: 1px solid var(--primary-enabled);
  background-color: var(--primary-enabled);
  color: var(--white);
  border-radius: 10px;
}

.secondary-btn.active {
  background: var(--primary-pressed);
  color: var(--white);
  border-radius: 10px;
}

.tertiary-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--primary-enabled)
}

.tertiary-btn:hover {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--primary-hover)
}

.tertiary-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--primary-pressed)
}