.body__container {
    width: 100%;
    height: 100%;
}

.body__wrapper {
    width: 100%;
    height: 100%;
    display: grid;
}

.header__elements {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 5rem;
}

#dashboard__header { color: #374151; }

#order__add__button { color: var(--white); }

.order__table {
    margin: 2.5rem 5rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}