{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Add a customer{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <a href="{% url 'webkiosk:customer-list' %}" class="food__header">
                    <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-left-arrow_Z1zQd3vTE.svg" alt="Gray Arrow">
                    Add a new customer
                </a>
            </div>
            <div class="input__elements">
                <form method = 'POST' action = "{% url 'webkiosk:add-customer' %}">{% csrf_token %}
                    <p class="input__title">First Name</p>
                    <input type="text" name = "fname" class="input__field__short" placeholder="First Name">
                    <p class="input__title">Last Name</p>
                    <input type="text" name = "lname" class="input__field__short" placeholder="Last Name">
                    <p class="input__title">Email</p>
                    <input type="text" name = "email" class="input__field__short" placeholder="Email">
                    <p class="input__title">Mobile Number</p>
                    <input type="number" name = "num" class="input__field__short" placeholder="Mobile Number">
                    <p class="input__title">Street Address</p>
                    <input type="text" name = "ad" class="input__field__short" placeholder="Street Address">
                    <p class="input__title">City</p>
                    <input type="text" name = "city" class="input__field__short" placeholder="City">
                    <p class="input__title">Province</p>
                    <input type="text" name = "prov" class="input__field__short" placeholder="Province">
                    <div class="button__element">
                        <a href = "{% url 'webkiosk:customer-list' %}"><button class="button secondary-btn">Never mind</button></a>
                        <input type = "submit" name = "submit" value = "Save customer" class="form-btn primary-btn full-button-width margin-12">
                    </div>
                </form>
            </div>
        </div>
    </section>

<script src="nav.js"></script>
{% endblock %}