{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Customers{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <a href="{% url 'webkiosk:food-items' %}" class="food__header">
                    <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-left-arrow_Z1zQd3vTE.svg" alt="Gray Arrow">
                    Add a product
                </a>
            </div>
            <div class="input__elements">
                <p class="input__title">Product Name</p>
                <input class="input__field__short" type="text" placeholder="Name">
                <p class="input__title">Price</p>
                <input class="input__field__short" type="text" placeholder="PHP">
                <p class="input__title">Product Description</p>
                <form>
                    <textarea placeholder="Type here..."></textarea>
                </form>
            </div>
            <hr style="width: 520px;">
            <div class="button__element">
                <button class="button secondary-btn" id="nevermind-product-btn">Never mind</button>
                <button class="button primary-btn" id="save-product-btn">Save product</button>
            </div>
        </div>
    </section>

<script src="nav.js"></script>
{% endblock %}