{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Add a product{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <a href="{% url 'webkiosk:food-items' %}" class="food__header">
                    <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-left-arrow_Z1zQd3vTE.svg" alt="Gray Arrow">
                    Add a product
                </a>
            </div>
            {% for message in messages %}
            <p class = "message-text text-red-500">{{message}}</p>
            {% endfor %}            
            <div class="input__elements">
                <form method = 'POST' action = "{% url 'webkiosk:add-food' %}">{% csrf_token %}
                    <p class="input__title">Product Name</p>
                    <input type="text" name = "name" class="input__field__short" placeholder="Name">
                    <input type="text" name = "price" class="input__field__short" placeholder="Price (PHP)">
                    <p class="input__title">Product Description</p>
                    <textarea name = "description" placeholder="Type here..."></textarea>
                    <div class="button__element">
                        <a href = "{% url 'webkiosk:food-items' %}"><button class="button secondary-btn">Never mind</button></a>
                        <input type = "submit" name = "submit" value = "Save Product" class="form-btn primary-btn full-button-width margin-12">
                    </div>
                </form>
            </div>
        </div>
    </section>

<script src="nav.js"></script>
{% endblock %}