{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Customers{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <h3 class="header bold">My Customers</h3>
                <button class="primary-btn"><a href="{% url 'webkiosk:add-customer' %}" id="order__add__button">Add Customer</a></button>
            </div>
            <div class="table__box">
                <div class="table__row table__head customers">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Customer Name</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Location</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Mobile Number</p>
                    </div>
                    <div class="table__cell last__cell"></div>
                </div>

                {% for customer in customerlist %}
                <div class="table__row customers">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">{{customer.firstname}} {{customer.lastname}}</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">{{customer.city}}</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">{{customer.number}}</p>
                    </div>
                    <div class="table__cell last__cell">
                        <a href = "samples/editcustomer1.html"><img src = "{% static 'webkiosk/assets/icons/u_edit.svg' %}" alt="Edit Icon"></a>
                        <a href = "{% url 'webkiosk:delete-customer' pk=customer.pk %}"><img src="{% static 'webkiosk/assets/icons/u_trash-alt.svg' %}" alt="Trash Icon" style="margin: 0 0 0 24px;"></a>
                    </div>
                </div>
                {% endfor %}
            
                
            </div>
        </div>
    </section>

<script src="nav.js"></script>
{% endblock %}