{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Customers{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <h3 class="header bold">My Customers</h3>
                <button class="primary-btn"><a href="{% url 'webkiosk:add-customer' %}" id="order__add__button">Add Customer</a></button>
            </div>
            <div class="table__box">
                <div class="table__row table__head">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Customer Name<img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-down-arrow_WRx44HttsD.svg" alt="Gray Arrow" id="gray-arrow-icon"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Location</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Mobile Number</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header"></p>
                    </div>
                    <div class="table__cell last__cell"></div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <a href = "samples/viewcustomer1.html"><p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Arizona Robbins</span></p></a>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">Quezon City</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">+63 918 123 4567</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <a href = "samples/editcustomer1.html"><img src = "https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon"></a>
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <a href = "samples/viewcustomer2.html"><p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Atticus Lincoln</span></p></a>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">Quezon City</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">+63 918 231 6732</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <a href = "samples/editcustomer2.html"><img src = "https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon"></a>                        
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Bailey Grey-Shepherd</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">San Juan City</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">+63 917 432 2375</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Sofia Robbin</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">Muntinlupa City</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">+63 917 723 4523</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Winston Ndugu</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">Pasig City</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">+63 908 012 3245</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

            </div>
        </div>
    </section>

<script src="nav.js"></script>
{% endblock %}