{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Dashboard{% endblock %}

{% block maincontent %}
<section class="body__container">
        <div class="body__wrapper">
            <h3 class="header bold dashboard__header">Hey there!</h3>
            <div class="dashboard__cards">
                <div class="dashboard__card">
                    <p class="card__title">Total Orders</p>
                    <h3 class="card__value bold margin-8">26</h3>
                    <p><a href="orders.html" class="card__redirect margin-12" >See all orders<img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/green_right_arrow_XD7q8dkvuQk7.svg" alt="arrow icon" id="card__icon"></a></p>
                </div>
                <div class="dashboard__card">
                    <p class="card__title">Total Revenue</p>
                    <h3 class="card__value bold margin-8">PHP 6700</h3>
                    <p><a href="revenue.html" class="card__redirect margin-12">See revenue<img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/green_right_arrow_XD7q8dkvuQk7.svg" alt="arrow icon" id="card__icon"></a></p>
                </div>
                <div class="dashboard__card">
                    <p class="card__title">Unique Customers</p>
                    <h3 class="card__value bold margin-8">20</h3>
                    <p><a href="orders.html" class="card__redirect margin-12">See customers<img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/green_right_arrow_XD7q8dkvuQk7.svg" alt="arrow icon" id="card__icon"></a></p>
                </div>
            </div>
        
            <div class="table__box">
                <div class="table__row table__head orders">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Order Date <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-down-arrow_WRx44HttsD.svg" alt="Gray Arrow" id="gray-arrow-icon"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Order #</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Customer Name</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Total Amount</p>
                    </div>
                    <div class="table__cell last__cell"></div>
                </div>
                {% for order in orderlist %}
                <div class="table__row orders">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">{{ order.orderdatetime }}</p>
                    </div>
                    <div class="table__cell">
                        <a href = "{% url 'webkiosk:detail-order' pk=order.pk %}"><p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">{{ order.pk }}</a></span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">{{ order.customer.firstname }} {{ order.customer.lastname }}</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP {{ order.total_price }}</p>
                    </div>
                    <div class="table__cell last__cell">
                        <a href = "{% url 'webkiosk:edit-order' pk=order.pk %}"><img src="{% static 'webkiosk/assets/icons/u_edit.svg' %}" alt="Edit Icon"></a>
                        <a href = "{% url 'webkiosk:delete-order' pk=order.pk %}"><img src="{% static 'webkiosk/assets/icons/u_trash-alt.svg' %}" alt="Trash Icon" style="margin: 0 0 0 24px;"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
</section>
{% endblock %}