{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Order Page{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <a href="{% url 'webkiosk:order-list' %}" class="order__header bold">
                    <img src="{% static 'webkiosk/assets/icons/fi_chevron-left.svg' %}" alt="Gray Arrow">
                    Order # {{order.pk}}
                </a>
                
            </div>
            <section class="order__customer__details">
                <div class="customer__details">
                    <h5 class="body bold">Customer Details</h5>
                    <p>{{order.customer.firstname}} {{order.customer.lastname}}
                        <br>
                        {{order.customer.email}}
                    </p>
                </div>
                <div class="customer__shipping__address">
                    <h5 class="body bold">Shipping Address</h5>
                    <p>{{order.customer.address}}<br>{{order.customer.city}}, {{order.customer.province}}</p>
                </div>
            </section>
            <h2 class="order__total header">{{order.food.name}}: PHP {{order.total_price}}</h2>
        </div>
    </section>
{% endblock %}