{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Order Page{% endblock %}

{% block maincontent %}
    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <a href="../orders.html" class="order__header bold">
                    <img src="{% static 'webkiosk/assets/icons/fi_chevron-left.svg' %}" alt="Gray Arrow">
                    Order # CKG001
                </a>
                <h3 class="header bold"></h3>
                <a href="editorder1.html" id="order__add__button"><button class="secondary-btn">Edit Order</button></a>
            </div>
            <section class="order__customer__details">
                <div class="customer__details">
                    <h5 class="body bold">Customer Details</h5>
                    <p>Atticus Lincoln
                        <br>
                        alincoln@gmail.com
                        <br>
                        +63 918 231 6732
                    </p>
                </div>
                <div class="customer__shipping__address">
                    <h5 class="body bold">Shipping Address</h5>
                    <p>32 Webber Street<br>Quezon City, Metro Manila</p>
                </div>
                <div class="delivery__details">
                    <h5 class="body bold">Delivery Details</h5>
                    <p>July 6, 2021</p>
                </div>
            </section>
            <h2 class="order__total header">Order Total: PHP 1250.00</h2>

            <div class="table__box">
                <div class="table__row table__head orders">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Order Date <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-down-arrow_WRx44HttsD.svg" alt="Gray Arrow" id="gray-arrow-icon"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Order #</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Customer Name</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Total Amount</p>
                    </div>
                    <div class="table__cell last__cell"></div>
                </div>

                <div class="table__row orders">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">June 13, 2021</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><a href = "samples/order1.html"><span style="color:#10B981; text-decoration: underline;">CKG001</span></a></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">Atticus Lincoln</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP 1250.00</p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="{% static 'webkiosk/assets/icons/u_edit.svg' %}" alt="Edit Icon">
                            <img src="{% static 'webkiosk/assets/icons/u_trash-alt.svg' %}" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>
            </div>
        </div>d
    </section>

{ % endblock %}