{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Food Page{% endblock %}

{% block maincontent %}
    {% for food in fooddetails %}
        <section class="body__container">
            <div class="body__wrapper">
                <div class="header__elements">
                    <a href="{% url 'webkiosk:food-items' %}" class="food__header bold">
                        <img src="{% static 'webkiosk/assets/icons/fi_chevron-left.svg' %}" alt="Gray Arrow">
                        {{food.name}}
                    </a>
                    
                </div>
                <section class="product__info">
                    <p>PHP {{food.price}}</p>
                    <br>
                    <p class="product__details">
                        {{food.description}}
                    </p>
                </section>
            </div>
        </section>
    {% endfor %}
{% endblock %}