{% extends 'webkiosk/base.html' %}
{% load static %}

{% block pagetitle %}Edit a customer{% endblock %}

{% block maincontent %}
    {% for c in editcustomer %}
        <section class="body__container">
            <div class="body__wrapper">
                <div class="header__elements">
                    <a href="{% url 'webkiosk:customer-list' %}" class="food__header">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-left-arrow_Z1zQd3vTE.svg" alt="Gray Arrow">
                        Edit customer
                    </a>
                </div>
                <p class = "text-base margin-12 text-red-500">{{message}}</p>
                <div class="input__elements margin-24">
                    <form method = 'POST' action = "{% url 'webkiosk:edit-customer' pk=c.pk %}">{% csrf_token %}
                        <p class="input__title">First Name</p>
                        <input type="text" name = "fname" class="input__field__short" value="{{c.firstname}}">
                        <p class="input__title">Last Name</p>
                        <input type="text" name = "lname" class="input__field__short" value="{{c.lastname}}">
                        <p class="input__title">Email</p>
                        <input type="text" name = "email" class="input__field__short" value="{{c.email}}">
                        <p class="input__title">Mobile Number</p>
                        <input type="number" name = "num" class="input__field__short" value="{{c.number}}">
                        <p class="input__title">Street Address</p>
                        <input type="text" name = "ad" class="input__field__short" value="{{c.address}}">
                        <p class="input__title">City</p>
                        <input type="text" name = "city" class="input__field__short" value="{{c.city}}">
                        <p class="input__title">Province</p>
                        <input type="text" name = "prov" class="input__field__short" value="{{c.province}}">
                        <div class="button__element">
                            <a href = "{% url 'webkiosk:customer-list' %}"><button class="button secondary-btn">Never mind</button></a>
                            <input type = "submit" name = "submit" value = "Save customer" class="form-btn primary-btn full-button-width margin-12">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% endfor %}

<script src="nav.js"></script>
{% endblock %}