<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/food.css">
</head>

<body>

    <section class="body__container">
        <div class="body__wrapper">
            <div class="header__elements">
                <h3 class="header bold">My Food Products</h3>
                <button class="primary-btn"><a href="addfood.html" id="order__add__button">Add Products</a></button>
            </div>
            <div class="table__box">
                <div class="table__row table__head">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Food Product <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-down-arrow_WRx44HttsD.svg" alt="Gray Arrow" id="gray-arrow-icon"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header">Price</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-header"></p>
                    </div>
                    <div class="table__cell last__cell"></div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <a href = "samples/food1.html"><p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Chocolate Chip Cookies</span></p></a> 
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP 650.00</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <a href = "samples/editfood1.html"> <img src = "https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon"></a>
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <a href = "samples/food2.html"><p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Nutella Cookies</span></p></a> 
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP 700.00</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <a href = "samples/editfood2.html"> <img src = "https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon"></a>
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Oatmeal Cookies</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP 650.00</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">Raisin Cookies</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP 600.00</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell first__cell">
                        <p><input id="checkbox-item" type="checkbox"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"><span style="color:#10B981; text-decoration: underline;">White Chocolate Cookies</span></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text">PHP 750.00</p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell">
                        <p id="table__cell-text"></p>
                    </div>
                    <div class="table__cell last__cell">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/gray-edit-icon_MlDsn1021P.svg" alt="Edit Icon">
                        <img src="https://ik.imagekit.io/3qhtdzpqspxp/CSCI/Assets/red-delete-icon_2JCjzSekD.svg" alt="Trash Icon" style="margin: 0 0 0 24px;">
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="nav.js"></script>

</body>
</html>