{% extends 'webkiosk/baseindex.html' %}
{% load static %}

{% block pagetitle %}ChoobEats: Manage your online business with only a few clicks.{% endblock %}

{% block maincontent %}

    <nav class = "hero-nav">
        <a class = "nav-logo-link" href = "{% url 'webkiosk:home' %}"> <img class = "nav-logo" src = "{% static 'webkiosk/assets/logo-white.png' %}"></a>
        <div class = "nav-buttons">
            <a href="{% url 'webkiosk:login' %}" class="button secondary-btn-white">Log In</a>
            <a href="{% url 'webkiosk:register' %}" class="button primary-btn">Register</a>
        </div>
    </nav>

    <section id = "hero">
        <div id = "hero-container">
            <h1 class = "text-5xl font-semibold text-white">Manage your online business with only a few clicks.</h1>
            <a href="{% url 'webkiosk:register' %}" class="button primary-btn">Register</a>
        </div>
    </section>

    <section id = "support">
        <div class = "container-vert-centered side-margin-12">
            <h4 class = "text-sm font-normal text-gray-500">Supported by tech-driven communities</h4>
            <div class = "support-logos">
                <img class = "support-logos-item" src = "{% static 'webkiosk/assets/logo-yc.png' %}">
                <img class = "support-logos-item" src = "{% static 'webkiosk/assets/logo-500.png' %}">
                <img class = "support-logos-item" src = "{% static 'webkiosk/assets/logo-917.png' %}">
                <img class = "support-logos-item" src = "{% static 'webkiosk/assets/logo-qbo.png' %}">
            </div>
        </div>
    </section>

    <section class = "feature">
        <div class = "container-vert-centered side-margin-12">
            <div class = "feature-grid">
                <img class = "landing-mockup" src = "{% static 'webkiosk/assets/mockups/mockup-dash.png' %}">
                <div>
                    <h2 class = "text-xl font-medium">Monitor all your orders and revenue while keeping track of your customers on the platform.</h2>
                    <p class = "text-sm font-normal text-gray-500 margin-12">ChoobEats allows you to document and review all your orders and transactions in one platform — say goodbye to those messy sheets and tables!</p>
                </div>
            </div>
        </div>
    </section>

    <section class = "feature">
        <div class = "container-vert-centered side-margin-12">
            <div class = "feature-grid">
                <div>
                    <h2 class = "text-xl font-medium">Learn more about your customer’s behaviors and preferences through our CRM.</h2>
                    <p class = "text-sm font-normal text-gray-500 margin-12">Review your customer’s order habits to maintain a close relationship with them. Data analytics coming soon!</p>
                </div>
                <img class = "landing-mockup grid-reverse" src = "{% static 'webkiosk/assets/mockups/mockup-orders.png' %}">

            </div>
        </div>
    </section>

    <section id = "testimonies">
        <div class = "container-vert-centered side-margin-12">
            <div class = "grid-testimonies">
                <div class = "grid-testimonies-item container-vert-centered container-justify-between">
                    <p class = "text-sm text-centered">“Perfect for my home business. Very easy to use, to manage, and it gets a lot done without me having to put much effort!"</p>
                    <footer class = "container-vert-centered">
                        <img src = "{% static 'webkiosk/assets/avatars/testi-karev.png' %}" class = "margin-32">
                        <h6 class = "text-sm font-medium margin-12 text-centered">Alex Karev</h6>
                        <p class = "text-sm font-medium text-gray-500 text-centered">Cookies Galore</p>
                    </footer>
                </div>
                <div class = "grid-testimonies-item container-vert-centered container-justify-between">
                    <p class = "text-sm text-centered">“Managing our branch became a lot easier thanks to ChoobEats. Perfect balance for both store and online orders.”</p>
                    <footer class = "container-vert-centered">
                        <img src = "{% static 'webkiosk/assets/avatars/testi-yang.png' %}" class = "margin-32">
                        <h6 class = "text-sm font-medium margin-12 text-centered">Cristina Yang</h6>
                        <p class = "text-sm font-medium text-gray-500 text-centered">Yabu</p>
                    </footer>
                </div>
                <div class = "grid-testimonies-item container-vert-centered container-justify-between">
                    <p class = "text-sm text-centered">“This has allowed our waiters at Wolfgang to easily manage orders and communicate them with our chefs in the kitchen.”</p>
                    <footer class = "container-vert-centered">
                        <img src = "{% static 'webkiosk/assets/avatars/testi-avery.png' %}" class = "margin-32">
                        <h6 class = "text-sm font-medium margin-12 text-centered">Jackson Avery</h6>
                        <p class = "text-sm font-medium text-gray-500 text-centered">Wolfgang Steakhouse</p>
                    </footer>
                </div>
            </div>
        </article>
    </section>

    <section id = "cta">
        <div class = "container-vert-centered side-margin-12">
            <h3 class = "text-xl font-semibold text-centered">Get started for FREE.</h3>
            <p class = "text-base text-gray-500 margin-8 text-centered">Set up your account in under 30 minutes, with absolutely no setup fees.</p>
            <div class = "cta-button-grid margin-24">
                <a href="signin.html" class="button secondary-btn">Log In</a>
                <a href="{% url 'webkiosk:register' %}" class="button primary-btn">Register</a>
            </div>
            <img class = "margin-40" src = "{% static 'webkiosk/assets/mockups/mockup-cta.png' %}">
        </div>
    </section>

    <footer class = "landing-footer">
        <div class = "footer-container">

            <div class = "footer-company">
                <img src = "{% static 'webkiosk/assets/logo-green.png' %}">
                <p class = "text-sm text-gray-500 margin-12">Manage your online business with only a few clicks.</p>
                <p class = "text-sm text-green-500 margin-16">support@choobeats.com</p>
                <!-- <p class = "text-sm text-gray-400 margin-64">© Copyright 2021 ChoobEats</p> -->
            </div>

            <nav class = "grid-footer-navs">
                <div class = "grid-footer-navs-item">
                    <h5 class = "text-sm font-semibold text-green-500">Product</h5>
                    <a class = "font-normal text-gray-500 margin-12">Home</a>
                    <a class = "font-normal text-gray-500">Log In</a>
                    <a class = "font-normal text-gray-500">Register</a>
                </div>

                <div class = "grid-footer-navs-item">
                    <h5 class = "text-sm font-semibold text-green-500">Resources</h5>
                    <a class = "font-normal text-gray-500 margin-12">Careers</a>
                    <a class = "font-normal text-gray-500">Terms of Use</a>
                    <a class = "font-normal text-gray-500">Privacy Policy</a>
                </div>

            </nav>

        </div>
    </footer>
{% endblock %}